* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100vh;

  background: radial-gradient(rgb(121, 83, 120), #1a1f1d);

  display: grid;
  place-items: center;
}
